.slick-dots li.slick-active div {
    background-color: #DB4444 !important;
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}